
.botonAceptrar p-button,
.botonCancelar p-button {
    display: flex;
    width: 100%;
}

.botonAceptrar p-button button,
.botonCancelar p-button button {
    width: 100%;
}

.p-inputtext{
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
}

p-inputnumber,p-floatlabel{
        
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
}
p-floatlabel {
   width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
}

.div-buton{
    padding-left: 1% !important;
    padding-right: 0% !important;
}