<div class="container mx-auto">
    <div class="grid flex justify-content-center">

        <div class="contenido sm:col-12 md:col-10 lg:col-10 xl:col-10"
            [ngClass]="{'ocultar-div' : ui.visualizadorAlmacen}">

            <div class="grid titulo flex justify-content-center mt-1 ">
                <div class="descripTitulo sm:col-12 md:col-10 lg:col-10 xl:col-10">
                    <h1><i class="pi pi-tags"></i>Gestionar Almacén</h1>
                </div>
                <div class="sm:col-12 md:col-10 lg:col-10 xl:col-10">
                    <p-button label="Regresar" icon="pi pi-arrow-left" severity="secondary" [rounded]="true"
                        [raised]="true" (onClick)="retrocede()" />
                </div>
            </div>

            <div class="grid  div-form flex justify-content-center mt-7">
                <div class="sm:col-12 md:col-10 lg:col-10 xl:col-10">

                    <div class="grid almacen">

                        @if (serviceAlmacen.almacenRederizado()) {
                        <form #exampleForm="ngForm" class=" grid  gap-4 w-full" (ngSubmit)="onSubmit(exampleForm)">

                            <div
                                class="grid bloqueUno w-full divSombreados p-5 sm:col-12 md:col-12 lg:col-12 xl:col-12">

                                <div class=" grid sm:col-12 md:col-12 lg:col-12 xl:col-12  divTex">
                                    <p-floatLabel variant="on" class="w-full">

                                        <input pInputText type="text" id="nombreAlmacen"
                                            aria-describedby="username-help" name="nombreAlmacen"
                                            [(ngModel)]="serviceAlmacen.almacen.nombreAlmacen" #nombreAlmacen="ngModel"
                                            [invalid]="nombreAlmacen.invalid && (nombreAlmacen.touched || exampleForm.submitted)"
                                            required />
                                        <label for="on_label">Nombre de Almacén</label>
                                    </p-floatLabel>

                                    <small class="sm:col-12 md:col-12 lg:col-12 xl:col-12" id="username-help">Introduce
                                        el
                                        nombre del producto</small>
                                    @if (nombreAlmacen.invalid && (nombreAlmacen.touched || exampleForm.submitted)) {
                                    <p-message severity="error" size="small" variant="simple" class="pl-2">Nombre del
                                        almacén
                                        requerido.</p-message>
                                    }
                                </div>

                                <div class=" grid sm:col-12 md:col-6 lg:col-6 xl:col-6 divTex mr-2 mt-3">

                                    <p-floatLabel variant="on" class="w-full">
                                        <textarea pTextarea id="notasAlmacen" rows="5" cols="30" name="username"
                                            [(ngModel)]="serviceAlmacen.almacen.notasAlmacen" #notasAlmacen="ngModel"
                                            [invalid]="notasAlmacen.invalid && (notasAlmacen.touched || exampleForm.submitted)"
                                            required style="resize: none" class="h-full w-full"></textarea>
                                        <label for="on_label">Notas del Almacén</label>
                                    </p-floatLabel>

                                    <small class="sm:col-12 md:col-12 lg:col-12 xl:col-12" id="username-help">Introduce
                                        la
                                        descripción del producto</small>
                                    @if (notasAlmacen.invalid && (notasAlmacen.touched ||
                                    exampleForm.submitted)) {
                                    <p-message severity="error" size="small" variant="simple" class="pl-2">Notas del
                                        almacén
                                        requerida.</p-message>
                                    }

                                </div>

                                <div class=" grid sm:col-12 md:col-6 lg:col-6 xl:col-6 divTex mt-3">

                                    <p-floatLabel variant="on" class="w-full">
                                        <textarea pTextarea id="descripcionAlmacen" rows="5" cols="30" name="username"
                                            [(ngModel)]="serviceAlmacen.almacen.descripcionAlmacen"
                                            #descripcionAlmacen="ngModel"
                                            [invalid]="descripcionAlmacen.invalid && (descripcionAlmacen.touched || exampleForm.submitted)"
                                            required style="resize: none" class="h-full w-full"></textarea>
                                        <label for="on_label">Descripción del Almacén</label>
                                    </p-floatLabel>

                                    <small class="sm:col-12 md:col-12 lg:col-12 xl:col-12" id="username-help">Introduce
                                        la
                                        descripción del almacén</small>
                                    @if (descripcionAlmacen.invalid && (descripcionAlmacen.touched ||
                                    exampleForm.submitted)) {
                                    <p-message severity="error" size="small" variant="simple" class="pl-2">Descripción
                                        del
                                        almacén
                                        requerida.</p-message>
                                    }
                                </div>

                            </div>

                            <div
                                class="grid bloqueUno w-full divSombreados  pl-5 pr-5  pb-5 pt-1 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-4">

                                <div class="tituloUbica sm:col-6 md:col-6 lg:col-6 xl:col-6 flex align-items-center">
                                    <h3><a href="" class="pi pi-map-marker"></a>Ubicación</h3>
                                </div>

                                <div
                                    class="verUbica sm:col-6 md:col-6 lg:col-6 xl:col-6 flex align-items-center justify-content-end text-left ">
                                    <p-button label="Editar" severity="secondary" [rounded]="true" type="button"
                                        (onClick)="editar(exampleForm)" icon="pi pi-pencil" [raised]="true" />
                                </div>

                                <div class="contenidoUbi  sm:col-12 md:col-12 lg:col-12 xl:col-12"
                                    [ngClass]="{'ocultar-div' : ui.contenidoUbicacionVista}">

                                    @if (serviceAlmacen.almacen.ubicacion != undefined ||
                                    serviceAlmacen.almacen.ubicacion != null) {

                                    <p><strong>Ciudad / Estado :</strong>
                                        {{serviceAlmacen.almacen.ubicacion.ciudadEstadoUbicacion}} </p>
                                    <p><strong>Delegación :</strong>
                                        {{serviceAlmacen.almacen.ubicacion.delegacionMunicipioUbicacion}} </p>
                                    <p><strong>Dirección : </strong> Calle :
                                        {{serviceAlmacen.almacen.ubicacion.calleUbicacion}} ,
                                        Colonia : {{serviceAlmacen.almacen.ubicacion.coloniaUbicacion}},
                                        Numero Interior :
                                        {{serviceAlmacen.almacen.ubicacion.numeroInteriorUbicacion}},
                                        Numero Exterior :
                                        {{serviceAlmacen.almacen.ubicacion.numeroExteriorUbicacion}}

                                    </p>
                                    <p class="pb-3">Codigo Postal : {{serviceAlmacen.almacen.ubicacion.cpUbicacion}}
                                    </p>

                                    <hr>

                                    <h4>Descripción y notas de la Dirección</h4>

                                    <p>{{serviceAlmacen.almacen.ubicacion.descripcionUbicacion}}</p>
                                    <p>{{serviceAlmacen.almacen.ubicacion.notasAdicionalesUbicacion}}</p>


                                    }
                                </div>
                                <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12 ubicacion-div "
                                    [ngClass]="{'ocultar-div' : ui.contenidoUbicacion}">
                                    <app-ubicacion-control class="n"></app-ubicacion-control>
                                </div>
                            </div>

                            <div
                                class="grid  recursos bloqueUno w-full divSombreados  pl-5 pr-5  pb-5  sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-4 flex justify-content-around align-items-cente">

                                <div class="titulor sm:col-12 md:col-12 lg:col-12 xl:col-12">
                                    <h2>Recursos</h2>
                                </div>
                                <div
                                    class="recirsos-div sm:col-12 md:col-3lg:col-3 xl:col-3  flex justify-content-center align-items-center">
                                    <div class="primerRecurso r w-11">
                                        <div class="texto txt p-3">
                                            <h3 class="txt">Muebles</h3>
                                            <h1 class="txt">{{ serviceAlmacen.almacen.muebles ?
                                                serviceAlmacen.almacen.muebles.length : 0 }}</h1>
                                            <h4 class="txt">Registrados</h4>
                                        </div>

                                    </div>
                                </div>
                                <div
                                    class="recirsos-div sm:col-12 md:col-3 lg:col-3 xl:col-3 flex justify-content-center align-items-center">
                                    <div class="segundoRecurso r w-11 divSombreados">
                                        <div class="texto txt p-3">
                                            <h3 class="txt">Tiendas</h3>
                                            <h1 class="txt">{{ serviceAlmacen.almacen.tiendaDTOS ?
                                                serviceAlmacen.almacen.tiendaDTOS.length : 0 }}</h1>
                                            <h4 class="txt">Registradas</h4>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="recirsos-div sm:col-12 md:col-3 lg:col-3 xl:col-3 flex justify-content-center align-items-center">
                                    <div class="tercerRecurso r w-11 divSombreados">
                                        <div class="texto  p-3">
                                            <h3 class="txt">Inventario</h3>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="recirsos-div sm:col-12 md:col-3 lg:col-3 xl:col-3 flex justify-content-center align-items-center">
                                    <div class="cuartoRecurso r w-11 divSombreados">
                                        <div class="texto p-3">
                                            <h3 class="txt">Ubicación</h3>
                                            @if (serviceAlmacen.almacen.ubicacion != undefined ||
                                            serviceAlmacen.almacen.ubicacion != null) {
                                            <h3 class="txt">{{
                                                serviceAlmacen.almacen.ubicacion.delegacionMunicipioUbicacion}}
                                                {{serviceAlmacen.almacen.ubicacion.cpUbicacion}}</h3>
                                            <h4 class="txt">Sector</h4>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="re sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-4">
                                    <div class="card">
                                        <p-tabs [value]="ui.tabActivo()" scrollable (valueChange)="listar($event!)">
                                            <p-tablist>
                                                <p-tab value="0">información general</p-tab>
                                                <p-tab value="1">muebles</p-tab>
                                                <p-tab value="2">inventario</p-tab>
                                                <p-tab value="3">tiendas</p-tab>
                                                <p-tab value="4">ubicación</p-tab>
                                            </p-tablist>
                                            <p-tabpanels>

                                                <p-tabpanel value="0">

                                                    <div
                                                        class="grid sm:col-12 md:col-12 lg:col-12 xl:col-12  flex justify-content-center mt-4">
                                                        <div
                                                            class="grid mueles sm:col-12 md:col-6 lg:col-6 xl:col-6 flex justify-content-center">
                                                            <div class="grid contenido r w-11 divSombreados  p-3">
                                                                <div
                                                                    class="titulo sm:col-12 md:col-6 lg:col-6 xl:col-6">
                                                                    <h2 class="txt">Muebles</h2>
                                                                </div>
                                                                <div
                                                                    class="verUbica sm:col-6 md:col-6 lg:col-6 xl:col-6 flex align-items-center justify-content-end text-left ">
                                                                    <p-button label="Agrega" severity="secondary"
                                                                        [rounded]="true" type="button"
                                                                        (click)="showDialogMueble()" icon="pi pi-plus"
                                                                        [raised]="true" />
                                                                </div>
                                                                <div
                                                                    class="tab sm:col-12 md:col-12 lg:col-12 xl:col-12 ubicacion-div muble-d w-full">
                                                                    <div class="card listado">
                                                                        <p-dataview #dv class="w-full"
                                                                            [value]="serviceAlmacen.mueblesVista()">
                                                                            <ng-template #list let-items>
                                                                                <div
                                                                                    class="grid grid-cols-12 gap-4 grid-nogutter w-full">
                                                                                    <div class="col-span-12 w-full"
                                                                                        *ngFor="let item of items; let first = first">
                                                                                        <div
                                                                                            class="flex flex-col sm:flex-row sm:items-center p-2 gap-4  w-full">

                                                                                            <div
                                                                                                class="grid macho flex-col md:flex-row justify-between md:items-center flex-1 gap-6  w-full">
                                                                                                <div
                                                                                                    class="sm:col-5 md:col-5 lg:col-5 xl:col-5 flex flex-row md:flex-col justify-between items-start gap-2">
                                                                                                    <div>
                                                                                                        @if (item.tipoMueble !=null) {
                                                                                                        <span
                                                                                                            class="font-medium text-secondary text-sm">{{
                                                                                                            item.tipoMueble.nombreTipoMueble
                                                                                                            }}</span>

                                                                                                        }
                                                                                                         @if (item.tipoMueble ===null) {
                                                                                                        <span
                                                                                                            class="font-medium text-secondary text-sm">Sin Tipo de mueble asignado</span>

                                                                                                        }

                                                                                                        <div
                                                                                                            class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">
                                                                                                            {{
                                                                                                            item.nombreMueble
                                                                                                            }}</div>

                                                                                                        <div
                                                                                                            class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">
                                                                                                            <span
                                                                                                                class=" text-xl font-semibold text-surface-900 dark:text-surface-0">{{
                                                                                                                'N°' +
                                                                                                                item.numeroMueble
                                                                                                                }}</span>

                                                                                                        </div>


                                                                                                    </div>

                                                                                                </div>
                                                                                                <div
                                                                                                    class="grid  hijin sm:col-5 md:col-5 lg:col-5 xl:col-5 flex flex-col md:items-end gap-8">

                                                                                                    <div
                                                                                                        class="flex flex-row-reverse md:flex-row gap-2">

                                                                                                        <p-button
                                                                                                            label="Ver"
                                                                                                            severity="secondary"
                                                                                                            [rounded]="true"
                                                                                                            type="button"
                                                                                                            (click)="verMueble(item)"
                                                                                                            icon="pi pi-eye"
                                                                                                            [raised]="true" />
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <hr>
                                                                                    </div>
                                                                                </div>
                                                                            </ng-template>
                                                                        </p-dataview>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div
                                                            class="grid mueles sm:col-12 md:col-6 lg:col-6 xl:col-6 flex justify-content-center">
                                                            <div class="grid contenido r w-11 divSombreados  p-3">
                                                                <div
                                                                    class="titulo sm:col-12 md:col-6 lg:col-6 xl:col-6">
                                                                    <h2 class="txt">Tiendas</h2>
                                                                </div>
                                                                <div
                                                                    class="verUbica sm:col-6 md:col-6 lg:col-6 xl:col-6 flex align-items-center justify-content-end text-left ">
                                                                    <p-button label="Vincula" severity="secondary"
                                                                        [rounded]="true" type="button"
                                                                        (onClick)="editar(exampleForm)"
                                                                        icon="pi pi-plus" [raised]="true" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div
                                                            class="grid mueles sm:col-12 md:col-6 lg:col-6 xl:col-6 flex justify-content-center mt-4">
                                                            <div class="grid contenido r w-11 divSombreados  p-3">
                                                                <div
                                                                    class="titulo sm:col-12 md:col-6 lg:col-6 xl:col-6">
                                                                    <h2 class="txt">Ubicación</h2>
                                                                </div>
                                                                <div
                                                                    class="verUbica sm:col-6 md:col-6 lg:col-6 xl:col-6 flex align-items-center justify-content-end text-left ">
                                                                    <p-button label="Editar" severity="secondary"
                                                                        [rounded]="true" type="button"
                                                                        (onClick)="editar(exampleForm)"
                                                                        icon="pi pi-pencil" [raised]="true" />
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div
                                                            class="grid mueles sm:col-12 md:col-6 lg:col-6 xl:col-6 flex justify-content-center mt-4">
                                                            <div class="grid contenido r w-11 divSombreados  p-3">
                                                                <div
                                                                    class="titulo sm:col-12 md:col-6 lg:col-6 xl:col-6">
                                                                    <h2 class="txt">Inventario</h2>
                                                                </div>
                                                                <div
                                                                    class="verUbica sm:col-6 md:col-6 lg:col-6 xl:col-6 flex align-items-center justify-content-end text-left ">
                                                                    <p-button label="Adregar" severity="secondary"
                                                                        [rounded]="true" type="button"
                                                                        (onClick)="editar(exampleForm)"
                                                                        icon="pi pi-plus" [raised]="true" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </p-tabpanel>

                                                <p-tabpanel value="1">

                                                    <div
                                                        class="grid sm:col-12 md:col-12 lg:col-12 xl:col-12  flex justify-content-center mt-4 w-full">
                                                        <app-muebles-control class=" w-full "></app-muebles-control>
                                                    </div>

                                                </p-tabpanel>

                                            </p-tabpanels>
                                        </p-tabs>
                                    </div>
                                </div>
                            </div>


                        </form>

                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card flex justify-center">
        <p-dialog header="Edit Profile" [(visible)]="ui.visible" [style]="{ width: '70vw' }" (onHide)="close()">

            @if (ui.formularioObjetoActivado === "formularioObjetoActivado") {

            <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12 ubicacion-div ">
                <app-formulario-mueble class="n"></app-formulario-mueble>
            </div>

            }

            @if (ui.formularioObjetoActivado === "formularioRepisa") {

            <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12 ubicacion-div ">
                <app-control-repisa class="n"></app-control-repisa>
            </div>

            }

            @if (ui.formularioObjetoActivado === "formularioTipoProducto") {

            <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12 ubicacion-div ">
                <app-control-tipo-producto class="n"></app-control-tipo-producto>
            </div>

            }


            <div class="flex justify-end gap-2">
                <p-button label="Cancel" severity="secondary" (click)="close()" />
                <p-button label="Guardar" (click)="guardarObjeto()" />
            </div>
        </p-dialog>
    </div>
</div>